<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="user222" class="com.jali.User">
		<property name="name" value="zhangsan"/>
	</bean>
	<bean name="myBeanFactoryPostProcessor" class="com.jali.MyBeanFactoryPostProcessor"/>
	<bean name="userFactoryBean" class="com.jali.UserFactoryBean"/>
</beans>